img {
  width: 200px;
  height: 200px;
  margin-left: 45%;
  border-radius: 50%;
  border: 2px dotted black;
}
h2 {
  text-align: center;
  font-family: sans-serif;
  color: DodgerBlue;
}
#name {
  font-weight: bold;
}
.projects {
  margin-left: 30px;
}
.About-Me {
  margin-left: 30px;
}
.About-Me ul{
  color: teal;
}
body {
  background-color: #C0C0C0;
}
